.hero video {

  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.hero .content{
  position: absolute;
 top:0;
 left:0;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap:20px;
 width:100%;
 height:100vh;
 text-align: center;
 padding: 0 30px;


}
.hero .content h1{
  font-size: 50px;
}

.hero .content .buttons{

display: flex;
justify-content: center;
align-items: center;
gap: 30px;
}
.hero .content .buttons {

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.hero .content .buttons a{
  padding:10px;
  background-color: transparent;
  border: 1px solid white;
  
}



.about{

display: flex;
justify-content: center;
align-items: flex-start;
gap: 60px;
padding: 50px 80px;

}
.about img{
  height:400px;
}
.about .content{
display: flex;
justify-content: center;
align-items: flex-start;
flex-direction: column;
gap: 20px;
}

.about .content p{
line-height:30px

}
@media (max-width:1300px){
.about{
  gap:30px;
  padding: 30px 60px;
}

}

@media (max-width:1100px) {
  .about {
    flex-wrap:wrap;
  }

  .about img {
  width:100%;
  height:auto;


  }
  .about .content {
    align-items: center;
  }
    .about .content p {
      text-align: center;
      line-height: 25px;
    }

}



.services-section {
  background-color: #111;
  color: #fff;
  padding: 60px 20px;
  text-align: center;
}

.slider-container {
  max-width: 800px;
  margin: 40px auto;
}

.slide img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 15px #00bcd4;
}

.slide h3 {
  margin-top: 15px;
  color: #00bcd4;
}

.slide p {
  font-size: 15px;
  margin-top: 10px;
  color: #ddd;
}

/*call to action section */

.call-to-action{
  width: 100%;
  height: 300px;
  background-color:black ;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-direction: column;


}
.call-to-action h2{
  font-size: 40px;

}
.call-to-action a{
  padding: 10px;
    background-color: transparent;
    border: 1px solid white;
}
